body {
    margin: 0 auto;
    width: 900px;
}

nav {
    display: block;
    margin: 0 auto;
    width: 900px;
}

nav ul li {
    display: inline-block;
    margin: 5px;
}

nav ul li:nth-child(3) {
    margin-left: 270px;
}

nav ul li a {
    text-decoration: none;
    color: #F9690E;
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
}

nav ul li i {
    color: #F9690E;
    font-size: 20px;
}

main section:nth-child(1) {
    display: block;
    background-image: url("picture.jpg");
    background-position: center;
    background-size: cover;
    width: 550px;
    padding: 125px;
    margin: 0 auto;
}

main section:nth-child(1) h1 {
    display: block;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    font-size: 20pt;
    margin: 40px;
}

main section:nth-child(1) span {
    color: #F9690E;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

main section:nth-child(1) button {
    display: block;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 auto;
    color: white;
    background-color: #F9690E;
    padding: 10px;
    border: none;
    cursor: pointer;
}

main section:nth-child(1) button:hover {
    background-color: white;
    color: #F9690E;
}

main section:nth-child(2) {
    display: block;
    margin: 0 auto;
    width: 805px;
}

main section:nth-child(2) article {
    display: inline-block;
    width: 225px;
    background-color: #F9690E;
    ;
    color: white;
    padding: 20px;
    font-family: Helvetica, sans-serif;
}

main section:nth-child(2) article h3 {
    text-align: center;
    font-weight: bold;
}

main section:nth-child(2) article p {
    text-align: left;
    font-size: 10pt;
}

footer {
    display: block;
    width: 800px;
    margin: 0 auto;
    padding-top: 25px;
}

footer article:nth-child(1) {
    display: inline-block;
}

footer article:nth-child(2) {
    display: inline-block;
    margin-left: 200px;
}

footer article:nth-child(2) i {
    margin: 10px;
}