@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
header {
    display: block;
    margin: 0 auto;
    width: 1150px;
}

header article {
    display: inline-block;
    border-left: solid rgb(82, 79, 79) 3px;
    margin-right: 250px;
    padding: 20px;
}

header article p {
    color: #656565;
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
}

header article h2 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 5px;
}

main {
    display: block;
    margin: 0 auto;
    width: 1100px;
    padding-right: 100px;
}

main article {
    display: inline-block;
    margin: 10px;
    padding: 20px;
}

main article img {
    width: 300px;
    height: 200px;
    margin-bottom: 50px;
}

main article p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: block;
    width: 250px;
    text-align: left;
}